@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    max-width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*아이콘*/
.clients-img-wrap{
    text-align: center;
    max-width: 1400px;
    margin: 150px auto;
}

.clients-img-wrap .load{
    background: transparent;
    cursor: pointer;
    border: none; 
    display: none;
    }
.clients-img-wrap .load i{
    font-size: 80px;
    color: #04088a;
    }

.clients-img-wrap ul {
    display: flex;
    flex-wrap: wrap;
}

.clients-img-wrap ul li {
    color:#a3a3a3;
    font-size: 18px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 9);
}

.clients-img-wrap ul li p {
    font-size: 16px;
    padding-top: 15px;
    word-break: break-all;
}

.clients-img-wrap ul li img {
    max-width: 100%;
    padding: 20px;
    margin-bottom: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.clients-img-wrap ul li .img-wrap {
    width: 120px;
    position: relative;
    height: 120px;
    border: 3px solid #dddddd;
    border-radius: 50%;
}

.box_wrap .box_btn{
    bottom: 10%;
}


.box_wrap img{
    position: absolute;
    bottom: 0;
}


.box_wrap{
    background-color: #04088a;
    height: 250px;
}


.box_wrap .img_btn{
    position: relative;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.topBtn {
    position: fixed;
    z-index: 99999;
    bottom: 7%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    outline: none;
}

button.move {
    border-radius: 50%;
    border: 2px solid #a3a3a3;
    background: white;
    cursor: pointer;
    margin-bottom: 5px
}

button.move i {
    padding: 5px;
    font-size: 32px;
}

.fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.topBtn p {
    font-weight: 500;
    font-size: 16px;
    color: #a3a3a3;
}

@media screen and (max-width: 1500px){
    .clients-img-wrap ul{
        margin: 0 2%;
    }
    .clients-img-wrap {
        margin: 130px auto;
    }
    .box_wrap img {
        left: 2%;
    }
    }

 @media screen and (max-width:1217px) {
        .clients-img-wrap .load{
            display: initial;
        }
        .clients-img-wrap ul{
            margin: 0 5%;
        }
        .clients-img-wrap ul li {
     
            width: calc(100% / 8);
        }
        .clients-img-wrap ul li .img-wrap {
            width: 10vw;
            height: 10vw;
        }
        .clients-img-wrap .load{
            display: initial;
        }
        .box_wrap img {
            width: 50%;
        }
    }   
    
@media screen and (max-width: 940px){
	.title .h_tit{
        font-size: 28px;
    }
    .box_wrap {
        height: 400px;
    }
    .box_wrap img {
        width: 60%;
        position: unset;
        margin: 285px 20px;
    }
    .clients-img-wrap ul{
        max-width: 500px;
        margin: 0 auto;
    }
    .clients-img-wrap ul li {
        width: calc(100% / 4 - 6%);
        margin: 0 3% 30px 3%;
    }
    .clients-img-wrap ul li .img-wrap {
        width: 110px;
        height: 110px;
    }
    .clients-img-wrap .load i{
        font-size: 70px;
    }
}