/* 3.sidler-part */


#sec_proj {
  background-color: #f6f6f6;
  padding: 80px 0;
}

.sec_proj_wrap {
  max-width: 1400px;
  margin: 0 auto;
}

.sec_proj_title {
  text-align: center;
}

.sec_proj_title h2 {
  color: #04088a;
  font-size: 42px;
  padding: 20px 0px;
}

.sec_proj_title p {
  color: #ee72d8;
  font-size: 15px;
  letter-spacing: 3px;
}

.sec_proj_container {
  margin: 55px auto;
  display: flex;
}

.btn_arrow {
  /* 높이를 slider높이만큼 지정하면 중앙 정렬이 된다 */
  /* 너비로 화살표의 사이즈를 조절하면 된다 */
  width: 200px;
  height: 300px;
  z-index: 1;
}

.sec_proj_box {
  box-sizing: border-box;
  background-color: #fefefe;
  width: 100px;
  height: 300px;
  padding: 30px;
  margin: 10px;
  /* display: flex; */
  flex-direction: column;
  border-radius: 15px;
}

.sec_proj_box_title {
  font-size: 20px;
  color: #333;
  text-align: center;
  letter-spacing: -0.4px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
}

.sec_proj_wrap_img {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.sec_proj_wrap_img img {
  width: 100%;
  transition: transform 0.3s;
}

.sec_proj_wrap_img img:hover {
  transform: scale(1.1);
}

@media screen and (max-width:959px) {
  .sec_proj_title h2 {
    font-size: 28px;
  }

  .sec_proj_container {
    max-width: 900px;
  }
}